.container {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
}

.socials {
  display: flex;
  padding: 10px;
}

.socials > div:first-of-type {
  margin-left: 0px;
}

.socials > div {
  margin-left: 10px;
}

.blockText {
  color: #fff;
  font-size: 3rem;
  font-family: "Exo 2", sans-serif;
  padding: 10px;
  max-width: 420px;
  text-align: center;
}

.remaining {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  color: white;
  font-family: "EXO 2";
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex: 1;
}

.headerTextImg {
  height: auto;
  width: 100%;
}

.mooseDiv {
  position: absolute;
  bottom: -3px;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .heroContainer {
    justify-content: space-between;
    height: 75%;
    position: relative;
    flex: unset;
  }
  .headerTextImg {
    height: 30vh;
    width: auto;
  }
  .mooseDiv {
    bottom: 1rem;
  }
}

.headerText {
  font-size: 12rem;
  color: white;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
}

.headerContainer {
  display: flex;
}
.banner {
  background: white;
  mix-blend-mode: difference;
  color: #2081e2;
  opacity: 85%;
  width: 100%;
  padding: 20px;
  z-index: 0;
  position: relative;
  transform: translate3d(0, 0, 0);
}
.bannerText {
  font-family: "Exo 2", sans-serif;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 720px) {
  .headerText {
    position: unset;
    font-size: 8rem;
    line-height: 13rem;
  }
  .banner {
    background: white;
    mix-blend-mode: difference;
    color: #2081e2;
    opacity: 85%;
    padding: 20px;
    bottom: 0px;
    left: 0px;
  }
  .bannerText {
    font-size: 1.6rem;
  }
}
