.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
}

.socials {
  display: flex;
}

.socials > div:first-of-type {
  margin-left: 0px;
}

.socials > div {
  margin-left: 10px;
}

.blockText {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  padding: 10px;
  max-width: 420px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 0 0 30%;
}

.remaining {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  color: white;
  font-family: "EXO 2";
  margin-bottom: 30px;
}

.headerText {
  font-size: 4rem;
  color: white;
  font-family: "Exo 2", sans-serif;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container img {
  height: auto;
  width: 100%;
}
